;FavLauncher configuration

[General]
A=/moonshl.nds
B=/moonshl2/reload.dat
X=/m3sakura.nds
Y=/app/DSOrganize.nds
Start=/app/menudo.nds
Select=/waio.nds
L=/morningtimer.nds
R=/app/dslinuxm.nds
Touch=/tool/dldicaptor.nds
Up=
Down=
Left=
Right=
;None=
UseNone=0

[R4TF]
Up=/iniclear.nds

[TTIO]
Up=/iniclear.nds
Down=/work/ttmenu117a12.nds
Left=/m3i.dat
Right=/r4.dat

[DEMO]
Up=/iniclear.nds
Down=/work/ttmenu117a12.nds
Left=/m3i.dat
Right=/r4.dat

[SCDS]
Up=/iniclear.nds
Down=/scfw.sc
Right=/scshell.nds

[RPGS]
Up=/iniclear.nds
Down=/akaio.aio
Left=/akmenu4.ak
Right=/R4GEi.gei

[M3DS]
Up=/_system_/kaura.nds
X=/_system_/misakura.nds
Down=/_system_/m3sakura.nds
Left=/_system_/R4iRTS.nds
;=/_system_/iTouchDS.nds
Right=/_system_/TouchPod.nds
